
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: open Sans;
}

.nav-head{
    color: #FD6E0A;
    font-family: open Sans;
}

.nav-title{

    font-size: 45px;
    font-weight: 800;
}



nav {
	display: flex;
	justify-content: space-between;
	padding: 50px 200px;
}
  
  nav ul {
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    list-style: none;
    margin-left: 50px;
  }


  /* buttonn */
  .primary-btn{
    background-color: #FD6E0A;
   padding: 18px 35px;
    height: 64px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    border: 0;
  }

  .primary-btn2{
    border:1px solid #FD6E0A;
    padding: 18px 35px;
    height: 64px;
    color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    background-color: #FFF8F3;
    
  
   
  }

  nav ul li a {
	text-decoration: none;
	color: #474747;
	font-size: 20px;
}


/* banner  */

.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.header-img img {
	width: 584px;
	height: 676px;
}

.banner-sub{
font-weight: 600;
font-size: 45px;
line-height: 61.28px;
}

.banner-title{
    font-size: 85px;
    font-weight:800;
    margin-bottom: 20px;
}

.banner p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
    margin-bottom: 20px;
}

.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
  
main{

    max-width: 1140px;
    margin: 0 auto;
  
}
.section-title{

    text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
	font-size: 18px;
	color: #757575;
	margin-bottom: 30px;
	text-align: center;
}




.about-info-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
  
  .info-title {
    color: #757575;
    font-size: 20px;
    font-weight: 400;
  }
  
  .info-description {
    font-size: 20px;
    font-weight: 700;
  }



.about-info {
}

.about-info {
  margin-right: 30px;
  align-items: center;
}



.about-info-container {

  text-align: center;
}

.about {
    padding: 130px 150px;
    margin-top: 130px;
    
    border-radius: 10px;
    background: #FFF8F3;
  }

  .what-i-do {
	margin-top: 130px;
	padding: 0 150px;
}

/* skill-container */

.skill-container{
    display: flex;
    gap: 24px;
}

.skills{
background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px;

margin-bottom: 130px;


}

.skill-title{
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 13px;

}

.skill-description{
    color: #757575;
    font-size: 16px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 13px;
    
}

.skills img{
    margin-top: 30px;
    margin-left: 27px;
}


/* resume styles */

.resume-content{
  display: flex;
  gap: 24px;
}

.resume-section .title{
  font-weight: 700;
font-size: 25px;
color: #474747;
margin-bottom: 10px;

}
.resume-section .sub-title{
  font-weight: 600;
font-size: 20px;
color: #757575;
margin-bottom: 20px;

}
.resume-section .description{
  font-weight: 400;
font-size: 16px;
color: #757575;
}

.resume-item{
  margin-top: 30px;
  margin-bottom: 30px;
}



/* resume-btn */

.resume-btn{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 110px;
}


/* contract styles */

.contract-section{
  display: flex;
  background: #FFF8F3;
  padding: 130px 230px 130px 230px;
}

.contract-section .section-title{
  text-align: left;
}

.contract-description{
  font-weight: 400;
font-size: 16px;
color: #474747;
margin-bottom: 25px;
}

.contract-section a img{
  margin-right: 24px;
}


.contract-form input[type="text"],[type="email"],textarea{
  padding: 18px 30px;
  width: 100%;
  margin-bottom: 24px;
  border: 0;
}

.contract-form input{
  height: 64px;
}

.contract-section{
  margin-bottom: 50px;
}